.navbar {
    background-color: #333;
  }
  
  .navbar .MuiButton-root {
    margin-left: 10px;
  }
  
  .search {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-left: 10px;
    width: 300px; /* Ajustar el ancho según sea necesario */
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    padding: 10px;
    pointer-events: none;
  }
  
  .inputRoot {
    color: inherit;
    width: 100%;
  }
  
  .inputInput {
    padding: 10px;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex: 1;
  }
  
  .inputInput:focus {
    width: 100%;
  }
  